{% extends 'shared/base.html' %} {% block content %}
<div class="d-flex justify-content-center">
  <form action="{% url 'setlisttrackerapp:login' %}" method="GET">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary btn-lg m-5">Login</button>
  </form>
  <form action="{% url 'setlisttrackerapp:register' %}" method="GET">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary btn-lg m-5">Register</button>
  </form>
</div>
<h1 class="d-flex justify-content-center">Welcome to the Setlist Tracker App!</h1>
<h4 class="d-flex justify-content-center">
  Whether you're an officially licensed DJ playing sets at paid events </br> or just
  the official DJ on roadtrips or at parties with your friends, </br> the Setlist
  Tracker App can help you track your setlists and the popularity of songs.
</h4>
{% endblock %}
