{% extends 'shared/base.html' %} {% block content %}
<h1>{{ event.name }}</h1>
{% now "Y-m-d" as todays_date %}
{% if event.date < todays_date %}
<p>Past events cannot be edited.</p>
{% else %}
<form action="{% url 'setlisttrackerapp:event_edit_form' event.id %}" method="GET">
            {% csrf_token %}
  <button>Edit</button>
</form>
{% endif %}

<h3>Date: {{ event.date }}</h3>
<h3>Location: {{ event.location }}</h3>
<h3>Time: {{ event.start_time }} - {{ event.end_time }}</h3>
<h3>Duration: {{ event.duration }} hours</h3>


<h2>Search for songs to add:</h2>
{% if event.date < todays_date %}
<p>Cannot add songs to setlist once event is over.</p>
{% else %}
<form action="{% url 'setlisttrackerapp:event' event.id %}" method="get">
  <input name="query" type="text" placeholder="Search song titles..." />
</form>
{% endif %}
<ul>
  {% for song in search_songs %}
  <form action="{% url 'setlisttrackerapp:event' event.id %}" method="POST">
  {% csrf_token %}
  <input type="hidden" value={{song.id}} name="song_id"/>
  <button type="submit">Add</button>
  </form>
  <li>"{{ song.title}}" by {{ song.artist }} || {{song.song_length}}s</li>
  {% endfor %}
</ul>

<h2>Setlist:</h2>
<h4>(Remaining time: {{ event.setlist_remaining_minutes }}m {{ event.setlist_remaining_seconds }}s)</h4>
<ol>
  {% for song in event.songs %}
  <li>"{{ song.title }}" by {{ song.artist }} </br> {{ song.rating }} stars || {{ song.song_length }}s</li>
  {% endfor %}
</ol>
<p>Total setlist length: {{ event.setlist_length }}s</p>
<h4>Notes:</h4>
<p>{{ event.notes }}</p>

<form action="{% url 'setlisttrackerapp:event' event.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
</form>
{% endblock %}
