{% extends 'shared/base.html' %} {% block content %}
<h1>Add Event</h1>

<form action="{% url 'setlisttrackerapp:events' %}" method="post">
  {% csrf_token %}
  <fieldset>
    <label for="name">name: </label>
    <input id="name" type="text" name="name" />
  </fieldset>
  <fieldset>
    <label for="date">Date: </label>
    <input id="date" type="date" name="date" />
  </fieldset>
  <fieldset>
    <label for="start_time">Start Time: </label>
    <input id="start_time" type="time" name="start_time" />
  </fieldset>
  <fieldset>
    <label for="end_time">End Time: </label>
    <input id="end_time" type="time" name="end_time" />
  </fieldset>
  <fieldset>
    <label for="location">Location: </label>
    <input id="location" type="text" name="location" />
  </fieldset>
  <fieldset>
    <label for="duration">Duration: </label>
    <input id="duration" type="number" name="duration" />
  </fieldset>
  <fieldset>
    <label for="notes">notes: </label>
    <input id="notes" type="text" name="notes" />
  </fieldset>

  <input type="submit" value="Add It" />
</form>
{% endblock %}
