{% extends 'shared/base.html' %} {% block content %}
<h1 class="d-flex justify-content-center">Register</h1>
<div class="d-flex justify-content-center">
  <form action="{% url 'setlisttrackerapp:register' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <label for="username">Username: </label>
      <input id="username" type="text" name="username" />
    </fieldset>

    <fieldset>
      <label for="first_name">First name: </label>
      <input id="first_name" type="text" name="first_name" />
    </fieldset>

    <fieldset>
      <label for="last_name">Last name: </label>
      <input id="last_name" type="text" name="last_name" />
    </fieldset>

    <fieldset>
      <label for="password">Password: </label>
      <input id="password" type="password" name="password" />
    </fieldset>

    <div class="d-flex justify-content-center">
      <input type="hidden" value="Register" />
      <button type="submit" class="btn btn-warning">Register</button>
    </div>
  </form>
</div>

{% endblock %}
